name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build, Sign, and Release APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get version from pubspec.yaml
        id: version
        run: echo "version=$(grep "version:" pubspec.yaml | cut -c10-)" >> $GITHUB_OUTPUT

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'
          channel: 'stable'

      - name: Create .env file
        run: |
          mkdir -p assets
          echo "${{ secrets.ENV_FILE }}" > assets/.env

      - name: Get packages
        run: flutter pub get

      - name: Decode Keystore
        run: echo "${{ secrets.KEY_JKS }}" | base64 -d > android/release-keystore.jks

      - name: Build APK
        env:
          KEY_ALIAS: release
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEYSTORE_PATH: ../release-keystore.jks
        run: flutter build apk --release --split-per-abi

      - name: Cleanup Keystore
        if: always()
        run: rm -f android/release-keystore.jks

      - name: Get current date
        id: date
        run: echo "date=$(TZ='Asia/Jakarta' date +'%A %d-%m-%Y %T WIB')" >> $GITHUB_OUTPUT

      - name: Generate unique tag
        id: tag
        run: echo "tag=v${{ steps.version.outputs.version }}-$(date +'%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: false
          artifacts: "build/app/outputs/flutter-apk/*.apk"
          body: "Published at ${{ steps.date.outputs.date }}"
          name: "v${{ steps.version.outputs.version }} - ${{ steps.date.outputs.date }}"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.tag.outputs.tag }}